.hDDdUE .Header__SiteHeaderNavItems-sc-1hbyv72-0 {
  margin: 0;
  padding: 0;
}

.liUkpO {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 44px;
  background: #141414;
  border-bottom: 1px solid #141414;
  z-index: 30000;
}
/* sc-component-id: NineComAu__NineLogoWrapper-sc-8l2uxh-0 */
.gVDzDU {
  display: block;
  width: 97px;
  height: 44px;
  padding: 12px 16px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 190, 255);

  z-index: 101;
}

.gVDzDU svg {
  height: 20px;
}

/* sc-component-id: NetworkNavItems__UlNavItems-sc-6ddsgo-0 */
.dHZoXa {
  display: block;
  position: absolute;
  top: 0;
  left: 40px;
  padding-left: 40px;
  left: 108px;
  padding-left: 0;
  margin: 0;
  white-space: nowrap;
}

.dHZoXa .NavItem__ListItemNavItem-wwjk1c-0 {
  display: inline-block;
}

.dHZoXa .NavItem__LinkNavItem-wwjk1c-1 {
  display: block;
  height: 44px;
  margin: 0 16px;
  padding: 0;
  line-height: 44px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.86);
  font-size: 12px;
  font-weight: bold;
}

.dHZoXa .NavItem__ListItemNavItem-wwjk1c-0[data-selected="true"] .NavItem__LinkNavItem-wwjk1c-1 {
  color: #3bccff;
}

.dHZoXa .NavItem__LinkNavItem-wwjk1c-1:hover {
  color: #3bccff;
}

@media (max-width: 1023px) {
  .dHZoXa {
    display: none;
  }
}

/* sc-component-id: ExternalSite__ExternalSiteSvg-sc-1vkd5fi-0 */
.jjrxKS {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

/* sc-component-id: NetworkNav__Right-sc-2f4qge-1 */
.hLWqAT {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  line-height: 44px;
  height: 44px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  z-index: 101;
}

/* sc-component-id: NetworkNavConnect__ConnectWithUs-sc-1hh2qbm-1 */
.cYddmL {
  display: none;
  cursor: pointer;
  position: relative;
  height: 43px;
  vertical-align: top;
  padding: 0 24px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.86);
}

.cYddmL:hover {
  color: #3bccff;
}

.cYddmL .Connect__SvgSVGConnect-hd0bo7-0 {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0 0 0 8px;
}

@media (min-width: 1024px) {
  .cYddmL {
    display: inline-block;
  }
}

/* sc-component-id: NetworkNavConnect__Spliter-sc-1hh2qbm-2 */
.boumvW {
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 13px;
  right: 0;
  background: #4f4f4f;
}
/* sc-component-id: NetworkNavSearch__Search-sc-4vbzlb-0 */
.PqzhE {
  display: none;
  cursor: pointer;
  height: 43px;
  vertical-align: middle;
  padding: 0 24px;
  -webkit-text-decoration: none;
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, 0.86);
}

.PqzhE:hover {
  color: #3bccff;
}

.PqzhE .Search__SvgSearchSvg-sc-1si0oml-0 {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0 0 0 8px;
}

@media (min-width: 640px) {
  .PqzhE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .PqzhE {
    display: none;
  }
}
/* sc-component-id: NetworkNavSearch__SearchText-sc-4vbzlb-2 */
.fgqeRa {
  display: block;
}

@media (min-width: 640px) {
  .fgqeRa {
    display: none;
  }
}

@media (min-width: 1024px) {
  .fgqeRa {
    display: block;
  }
}
/* sc-component-id: NetworkNavSearch__Spliter-sc-4vbzlb-1 */
.hcnoWE {
  display: none;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 13px;
  right: 0;
  background: #4f4f4f;
}

@media (min-width: 640px) {
  .hcnoWE {
    display: block;
  }
}
/* sc-component-id: NetworkNav__Hamburger-sc-2f4qge-2 */
.kbtopu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 16px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.86);
}

.kbtopu:hover {
  color: #3bccff;
}

.kbtopu .Close__SvgCloseSvg-sc-6rw6fz-0 {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.kbtopu .Hamburger__SvgHamburgerSvg-sc-1gi37t7-0 {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

@media (min-width: 640px) {
  .kbtopu {
    padding: 0 24px;
  }
}
/* sc-component-id: Hamburger__SvgHamburgerSvg-sc-1gi37t7-0 */
.cReFZl {
  display: inline-block;
}
/* sc-component-id: LogoNavNetwork__LogoNavWrapperNetwork-ytuj7a-3 */
.jBPRNJ {
  display: none;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  z-index: 100;
}

.jBPRNJ .LogoNavNetwork__LogosWrapperNetwork-ytuj7a-2 {
  white-space: nowrap;
}

@media (min-width: 640px) {
  .jBPRNJ {
    display: inline-block;
  }
}
/* sc-component-id: LogoNavNetwork__NetworkNavLogoNavNetwork-ytuj7a-7 */
.gYRsgG {
  position: absolute;
  display: block;
  top: 0;
  height: 44px;
  left: 77px;
  width: calc(100% - 133px);
  left: 96px;
  width: calc(100% - 152px);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
  display: inline-block;
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .utils__ImgLogoImage-sc-2xi2d-0,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
  max-height: 20px;
  width: auto;
  -webkit-transform: translateY(60%);
  -ms-transform: translateY(60%);
  transform: translateY(60%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__TravelSvgLogo-sc-1sqr8f0-1 {
  max-height: 27px;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .WWOSLogo__WWOSSvgLogo-wiaubn-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .ProductReviewsLogo__ProductReviewsSvgLogo-sc-14ssw02-1 {
  max-height: 20px;
  width: auto;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
  color: #fff;
}

@media (max-width: 390px) {
  .gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .utils__ImgLogoImage-sc-2xi2d-0 {
    max-width: calc(100% - 16px);
  }
}

@media (max-width: 639px) {
  .gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
    display: none;
  }
}

.gYRsgG .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 {
  display: none;
}

.gYRsgG .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  height: 100%;
  width: auto;
}

@media (max-width: 168px) {
  .gYRsgG .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
    width: 100%;
    height: auto;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

@media (min-width: 640px) {
  .gYRsgG {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: -webkit-transform ease 0.3s;
    -webkit-transition: transform ease 0.3s;
    transition: transform ease 0.3s;
    width: 500px;
    top: 0;
    left: 50%;
    height: 44px;
    -webkit-transform: translate3d(-50%, -100px, 0);
    -ms-transform: translate3d(-50%, -100px, 0);
    transform: translate3d(-50%, -100px, 0);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .gYRsgG .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 {
    display: inline-block;
  }
}

/* sc-component-id: LogoNavNetwork__LogosWrapperNetwork-ytuj7a-2 */
.cGvfNu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cGvfNu .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 {
  height: calc(100% - 16px);
}

.cGvfNu .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  width: auto;
}

.cGvfNu .utils__ImgLogoImage-sc-2xi2d-0 {
  display: none;
}

@media (min-width: 640px) {
  .cGvfNu .utils__ImgLogoImage-sc-2xi2d-0 {
    display: block;
  }
}

/* sc-component-id: LogoNavNetwork__NetworkNavLogosWrapperNetwork-ytuj7a-8 */
.ZXnja .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  display: block;
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
  width: 112px;
  margin-top: 0;
}

@media (max-width: 640px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    height: 44px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    position: static;
  }
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
  width: auto;
  margin-right: 0;
}

@media (max-width: 639px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
    width: 100%;
  }
}

.ZXnja .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 span {
  left: 8px;
  top: 2px;
}

/* sc-component-id: LogoNavNetwork__NetworkNavLogosWrapperNetwork-ytuj7a-8 */
.ZXnja .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  display: block;
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
  width: 112px;
  margin-top: 0;
}

@media (max-width: 640px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    height: 44px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    position: static;
  }
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
  width: auto;
  margin-right: 0;
}

@media (max-width: 639px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
    width: 100%;
  }
}

.ZXnja .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 span {
  left: 8px;
  top: 2px;
}
/* sc-component-id: LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 */
.eEXCju {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
  color: #fff;
}

.eEXCju .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.eEXCju .utils__ImgLogoImage-sc-2xi2d-0,
.eEXCju .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.eEXCju .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.eEXCju .WWOSLogo__WWOSSvgLogo-wiaubn-1,
.eEXCju .TravelLogo__TravelSvgLogo-sc-1sqr8f0-1 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

@media (max-width: 639px) {
  .eEXCju {
    left: 16px;
    text-align: left;
  }

  .eEXCju .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eEXCju .utils__ImgLogoImage-sc-2xi2d-0,
  .eEXCju .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eEXCju .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eEXCju .WWOSLogo__WWOSSvgLogo-wiaubn-1,
  .eEXCju .TravelLogo__TravelSvgLogo-sc-1sqr8f0-1 {
    max-height: 20px;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
    margin: 0;
  }

  .eEXCju .utils__ImgLogoImage-sc-2xi2d-0 {
    display: block;
  }

  .eEXCju .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eEXCju .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eEXCju .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eEXCju .WWOSLogo__WWOSSvgLogo-wiaubn-1,
  .eEXCju .TravelLogo__TravelSvgLogo-sc-1sqr8f0-1 {
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
}

@media (min-width: 640px) {
}

@media all and (min-width: 640px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* sc-component-id: LogoNavNetwork__NetworkNavLogoNavNetwork-ytuj7a-7 */
.gYRsgG {
  position: absolute;
  display: block;
  top: 0;
  height: 44px;
  left: 77px;
  width: calc(100% - 133px);
  left: 96px;
  width: calc(100% - 152px);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
  display: inline-block;
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .utils__ImgLogoImage-sc-2xi2d-0,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
  max-height: 20px;
  width: auto;
  -webkit-transform: translateY(60%);
  -ms-transform: translateY(60%);
  transform: translateY(60%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__TravelSvgLogo-sc-1sqr8f0-1 {
  max-height: 27px;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .WWOSLogo__WWOSSvgLogo-wiaubn-1,
.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .ProductReviewsLogo__ProductReviewsSvgLogo-sc-14ssw02-1 {
  max-height: 20px;
  width: auto;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
  color: #fff;
}

@media (max-width: 390px) {
  .gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .utils__ImgLogoImage-sc-2xi2d-0 {
    max-width: calc(100% - 16px);
  }
}

@media (max-width: 639px) {
  .gYRsgG .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .DomainLogo__DomainSvgLogo-sc-1io01r2-0 {
    display: none;
  }
}

.gYRsgG .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 {
  display: none;
}

.gYRsgG .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  height: 100%;
  width: auto;
}

@media (max-width: 168px) {
  .gYRsgG .LogoNavNetwork__VerticalImageLogoNetwork-ytuj7a-1 .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
    width: 100%;
    height: auto;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

@media (min-width: 640px) {
  .gYRsgG {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: -webkit-transform ease 0.3s;
    -webkit-transition: transform ease 0.3s;
    transition: transform ease 0.3s;
    width: 500px;
    top: 0;
    left: 50%;
    height: 44px;
    -webkit-transform: translate3d(-50%, -100px, 0);
    -ms-transform: translate3d(-50%, -100px, 0);
    transform: translate3d(-50%, -100px, 0);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .gYRsgG .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 {
    display: inline-block;
  }
}

/* sc-component-id: LogoNavNetwork__NetworkNavLogosWrapperNetwork-ytuj7a-8 */
.ZXnja .LogoNavNetwork__ImgVerticalImageLogoNetwork-ytuj7a-0 {
  display: block;
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
  width: 112px;
  margin-top: 0;
}

@media (max-width: 640px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    height: 44px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .HoneyLogo__SvgLogoContainer-sc-1tyrkyv-0,
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 .TravelLogo__SvgLogoContainer-sc-1sqr8f0-0 {
    position: static;
  }
}

.ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
  width: auto;
  margin-right: 0;
}

@media (max-width: 639px) {
  .ZXnja .LogoNavNetwork__SiteLogoNetwork-ytuj7a-4 {
    width: 100%;
  }
}

.ZXnja .LogoNavNetwork__VerticalTextLogoNetwork-ytuj7a-6 span {
  left: 8px;
  top: 2px;
}

/* sc-component-id: sc-9NewsLogo__SvgLogoContainer-sc-1y06w8b-0 */
.kUaBoM {
  position: relative;
  width: 200px;
}

@media (max-width: 767px) {
  .kUaBoM {
    margin-top: 2px;
  }
}
/* sc-component-id: LogoNavSite__SiteLogoSite-j632pu-4 */
.eBsbms {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  vertical-align: middle;
  color: #0518c5;
}

.eBsbms:hover {
  color: #133082;
  opacity: 1;
}

.eBsbms:hover .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.eBsbms:hover .DomainLogo__DomainSvgLogo-sc-1io01r2-0,
.eBsbms:hover .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.eBsbms:hover .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
  color: #0518c5;
  opacity: 1;
}

.eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.eBsbms .utils__ImgLogoImage-sc-2xi2d-0,
.eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

@media (max-width: 639px) {
  .eBsbms {
    left: 16px;
    text-align: left;
  }

  .eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eBsbms .utils__ImgLogoImage-sc-2xi2d-0,
  .eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
    max-height: 20px;
    margin: 0;
  }

  .eBsbms .utils__ImgLogoImage-sc-2xi2d-0 {
    display: block;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }

  .eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
}

@media (min-width: 640px) {
}

@media all and (min-width: 640px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* sc-component-id: Header__SiteNav-sc-1hbyv72-2 */
.lccCZy {
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  margin: 44px 0 20px 0;
  text-align: center;
  position: relative;
  z-index: 11;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 0 1px 0;
}

@media (max-width: 425px) {
  .lccCZy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .lccCZy {
    margin: 44px auto 32px;
    padding: 0 0 20px;
    height: 124px;
    border-bottom: 1px solid #ededed;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .lccCZy {
    padding: 0 0 1px 0;
    height: 0;
    border-bottom: 0;
  }
}

@media (max-width: 639px) {
  .lccCZy {
    padding: 0 0 1px 0;
    margin-bottom: 19px;
  }
}

/* sc-component-id: LogoNavSite__LogoNavWrapperSite-j632pu-3 */
.bqwhPP {
  display: none;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  z-index: 100;
}

.bqwhPP .LogoNavSite__LogosWrapperSite-j632pu-2 {
  white-space: nowrap;
}

@media (min-width: 640px) {
  .bqwhPP {
    display: inline-block;
  }
}

/* sc-component-id: LogoNavSite__SiteLogosNavSite-j632pu-7 */
.RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
  display: none;
}

.RcElw .LogoNavSite__VerticalTextLogoSite-j632pu-6 {
  display: inline-block;
}

@media (min-width: 640px) {
  .RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
    display: inline-block;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
    display: none;
  }

  .RcElw .LogoNavSite__LogosWrapperSite-j632pu-2 {
    display: none;
  }
}

/* sc-component-id: LogoNavSite__LogosWrapperSite-j632pu-2 */
.ijfhnX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ijfhnX .LogoNavSite__VerticalImageLogoSite-j632pu-1 {
  height: calc(100% - 16px);
}

.ijfhnX .LogoNavSite__VerticalImageLogoSite-j632pu-1 .LogoNavSite__ImgVerticalImageLogoSite-j632pu-0 {
  width: auto;
}

.ijfhnX .utils__ImgLogoImage-sc-2xi2d-0 {
  display: none;
}

@media (min-width: 640px) {
  .ijfhnX .utils__ImgLogoImage-sc-2xi2d-0 {
    display: block;
  }
}

/* sc-component-id: LogoNavSite__SiteLogoSite-j632pu-4 */
.eBsbms {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  vertical-align: middle;
  color: #0518c5;
}

.eBsbms:hover {
  color: #133082;
  opacity: 1;
}

.eBsbms:hover .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.eBsbms:hover .DomainLogo__DomainSvgLogo-sc-1io01r2-0,
.eBsbms:hover .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.eBsbms:hover .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
  color: #0518c5;
  opacity: 1;
}

.eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
.eBsbms .utils__ImgLogoImage-sc-2xi2d-0,
.eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
.eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
.eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

@media (max-width: 639px) {
  .eBsbms {
    left: 16px;
    text-align: left;
  }

  .eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eBsbms .utils__ImgLogoImage-sc-2xi2d-0,
  .eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
    max-height: 20px;
    margin: 0;
  }

  .eBsbms .utils__ImgLogoImage-sc-2xi2d-0 {
    display: block;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }

  .eBsbms .HoneyLogo__HoneySvgLogo-sc-1tyrkyv-3,
  .eBsbms .sc-9NewsLogo__NewsSvgLogo-sc-1y06w8b-1,
  .eBsbms .EntertainmentLogo__EntertainmentSvgLogo-sc-6zi1vt-1,
  .eBsbms .WWOSLogo__WWOSSvgLogo-wiaubn-1 {
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
}

@media (min-width: 640px) {
}

@media all and (min-width: 640px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* sc-component-id: LogoNavSite__SiteLogosNavSite-j632pu-7 */
.RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
  display: none;
}

.RcElw .LogoNavSite__VerticalTextLogoSite-j632pu-6 {
  display: inline-block;
}

@media (min-width: 640px) {
  .RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
    display: inline-block;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .RcElw .LogoNavSite__SiteLogoSite-j632pu-4 {
    display: none;
  }

  .RcElw .LogoNavSite__LogosWrapperSite-j632pu-2 {
    display: none;
  }
}
/* sc-component-id: Header__SiteHeaderNavItems-sc-1hbyv72-0 */
.hpOnTA {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  z-index: 100;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0 {
  display: inline-block;
  position: relative;
  white-space: normal;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0 .NavItem__LinkNavItem-wwjk1c-1 {
  display: block;
  font-size: 16px;
  padding: 14px 16px;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  line-height: 1;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0 .NavItem__LinkNavItem-wwjk1c-1 svg {
  color: #000000;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0 .NavDroplist__LiNavDroplist-se0zrn-1 {
  width: 100%;
}

.hpOnTA
  .NavItem__ListItemNavItem-wwjk1c-0
  .NavDroplist__LiNavDroplist-se0zrn-1:hover
  > .NavDroplist__LinkNavDroplist-se0zrn-2 {
  color: #fff;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0:hover > .NavItem__LinkNavItem-wwjk1c-1 {
  color: #0518c5;
  opacity: 1;
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0[data-selected="true"] > .NavItem__LinkNavItem-wwjk1c-1 {
  color: #0518c5;
}

.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 160px;
  padding: 8px;
  background: #0518c5;
  -webkit-transform: translate3d(-50%, 100%, 0);
  -ms-transform: translate3d(-50%, 100%, 0);
  transform: translate3d(-50%, 100%, 0);
  text-align: left;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0:hover .NavDroplist__UlNavDroplist-se0zrn-0 {
  display: block;
}

.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 .NavDroplist__LinkNavDroplist-se0zrn-2 {
  display: block;
  color: #fff;
  padding: 12px 8px;
  border-radius: 4px;
}

.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 .NavDroplist__LinkNavDroplist-se0zrn-2:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 639px) {
  .hpOnTA {
    display: none;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .hpOnTA {
    display: none;
  }
}

/* sc-component-id: Header__Wrapper-sc-1hbyv72-1 */
.hDDdUE .Header__SiteHeaderNavItems-sc-1hbyv72-0 {
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
}

/* sc-component-id: Header__SiteNav-sc-1hbyv72-2 */
.lccCZy {
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  margin: 44px 0 20px 0;
  text-align: center;
  position: relative;
  z-index: 11;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 0 1px 0;
}

@media (max-width: 425px) {
  .lccCZy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .lccCZy {
    margin: 44px auto 32px;
    padding: 0 0 20px;
    height: 124px;
    border-bottom: 1px solid #ededed;
  }
}

@media screen and (max-device-height: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  .lccCZy {
    padding: 0 0 1px 0;
    height: 0;
    border-bottom: 0;
  }
}

@media (max-width: 639px) {
  .lccCZy {
    padding: 0 0 1px 0;
    margin-bottom: 19px;
  }
}
/* sc-component-id: NavItems__NavItemsWrapper-sc-1g15fql-0 */
.ePzhmM {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  overflow: hidden;
}

/* sc-component-id: NavDroplist__UlNavDroplist-se0zrn-0 */
.jcQRJo {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 160px;
  padding: 8px;
  background: #0518c5;
  -webkit-transform: translate3d(-50%, 100%, 0);
  -ms-transform: translate3d(-50%, 100%, 0);
  transform: translate3d(-50%, 100%, 0);
  text-align: left;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0:hover .NavDroplist__UlNavDroplist-se0zrn-0 {
  display: block;
}

.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 .NavDroplist__LinkNavDroplist-se0zrn-2 {
  display: block;
  color: #fff;
  padding: 12px 8px;
  border-radius: 4px;
}

.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 .NavDroplist__LinkNavDroplist-se0zrn-2:hover {
  background: rgba(0, 0, 0, 0.1);
}
.hpOnTA .NavItem__ListItemNavItem-wwjk1c-0 .NavDroplist__LiNavDroplist-se0zrn-1 {
  width: 100%;
}

.hpOnTA
  .NavItem__ListItemNavItem-wwjk1c-0
  .NavDroplist__LiNavDroplist-se0zrn-1:hover
  > .NavDroplist__LinkNavDroplist-se0zrn-2 {
  color: #fff;
}
.hpOnTA .NavDroplist__UlNavDroplist-se0zrn-0 .NavDroplist__LinkNavDroplist-se0zrn-2 {
  display: block;
  color: #fff;
  padding: 12px 8px;
  border-radius: 4px;
}

/* sc-component-id: NavDroplist__LinkNavDroplist-se0zrn-2 */
.cnLMWa {
  display: block;
  margin: 0;
  padding: 0 26px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}

.cnLMWa:hover {
  background: rgba(0, 0, 0, 0.1);
}

.container,
.location {
  max-width: 1190px;
  margin: auto;
  padding: 0 10px;
}
.container:after,
.location:after {
  content: " ";
  display: table;
  clear: both;
}
@media (min-width: 1024px) {
  .container,
  .location {
    padding: 0 24px;
  }
}
.content:not(.content--live) .container {
  background-color: #fff;
}
@media (min-width: 768px) {
  .container.footer-ad {
    margin-top: 48px;
  }
}
.container.interstitial-banner-ad {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  margin: 0 -10px;
  border-top: 1px solid #d8d8d8;
}
@media (min-width: 768px) {
  .container.interstitial-banner-ad {
    margin: 32px 0;
    border-top: 0;
    padding-top: 0;
  }
}
.drop-search .drop-search__results-container {
  line-height: 28px;
}
.drop-search .drop-search__results-container:before {
  content: "";
  width: calc(100% - 24px);
  margin-left: 12px;
  height: 1px;
  background: #2175ff;
  display: block;
}

@media (max-width: 767px) {
  [data-content-type="home"] .layout__inner > .widget-ad .advert--loaded {
    margin-bottom: 48px;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid #eaeaea;
  }
  [data-content-type="home"] .layout__inner > .widget-ad .advert--loaded:after {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 10px;
    color: #999;
    content: "Advertisement";
    bottom: 6px;
  }
  [data-content-type="home"] .mbanner {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .mbanner {
    padding-bottom: 10px;
  }
}
@media (width: 320px) {
  .mbanner {
    padding: 0 0 10px;
  }
}
.mbanner .advert--loaded:not([data-ad-type="SIDEPANEL"]) iframe,
.top-takeovers .advert--loaded:not([data-ad-type="SIDEPANEL"]) iframe {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .mbanner .advert--loaded:not([data-ad-type="SIDEPANEL"]) iframe,
  .top-takeovers .advert--loaded:not([data-ad-type="SIDEPANEL"]) iframe {
    margin-bottom: 16px;
  }
}
@media (min-width: 1024px) {
  .top-takeovers {
    padding: 0 0 10px;
  }
}
@media (width: 320px) {
  .mbanner {
    padding: 0 0 10px;
  }
}


/* footer */


/* sc-component-id: Footer__Wrapper-sc-1uuqnsm-0 */
.dbIOcL {
  background: #141414;
  margin-top: 24px;
}

@media (min-width: 1024px) {
  .dbIOcL {
    position: relative;
    z-index: 1020;
  }
}

/* sc-component-id: Footer__Container-sc-1uuqnsm-1 */
.jLmOIv {
  margin: 0 auto;
  padding: 24px 16px;
}

.jLmOIv a {
  color: rgba(255, 255, 255, 0.75);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.jLmOIv a:hover,
.jLmOIv a:focus {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .jLmOIv {
    padding: 24px;
  }
}

@media (min-width: 1124px) {
  .jLmOIv {
    max-width: 1600px;
  }
}

/* sc-component-id: Top__Container-p0dwa6-0 */
.lmGlVl {
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .lmGlVl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* sc-component-id: Top__StyledLogo-p0dwa6-2 */
.bNLBND {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bNLBND svg {
  height: 24px;
  width: auto;
}

@media (min-width: 768px) {
  .bNLBND svg {
    height: 32px;
  }
}

.bNLBND svg {
  height: 20px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .bNLBND {
    margin-left: 0;
  }
}
/* sc-component-id: LogoWrapper-sc-7ieug6-0 */
.eOjwyH {
  display: block;
  z-index: 101;
}

.eOjwyH svg {
  height: 20px;
}
/* sc-component-id: Top__Links-p0dwa6-3 */
.grXvYS {
  display: block;
}

@media (min-width: 768px) {
  .grXvYS {
    margin-top: 24px;
  }
}

@media (min-width: 1024px) {
  .grXvYS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 0;
  }
}
/* sc-component-id: Top__Block-p0dwa6-4 */
.czwYxT {
  display: block;
}

@media (min-width: 768px) {
  .czwYxT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
/* sc-component-id: Top__Group-p0dwa6-5 */
.ctaSet {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .ctaSet {
    margin: 0ßpx;
  }
}

@media (min-width: 768px) {
  .ctaSet {
    margin: 0 0 0 0px;
  }
}

@media (min-width: 1024px) {
  .ctaSet {
    margin-top: 0;
  }
}

.ctaSet li {
  list-style: none;
}

.ctaSet li + li {
  margin-left: 32px;
}

.ctaSet svg {
  vertical-align: middle;
  width: 20px;
}

.bqKPYF {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0;
  padding-left: 0;
  margin-left: 24px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0ßpx;
  }
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0 0 0 32px;
  }
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0 0 0 32px;
  }
}

@media (min-width: 1024px) {
  .bqKPYF {
    margin-top: 0;
  }
}

.bqKPYF li {
  list-style: none;
}

.bqKPYF li + li {
  margin-left: 32px;
}

.bqKPYF svg {
  vertical-align: middle;
  width: 20px;
}
/* sc-component-id: Top__SocialLink-p0dwa6-6 */
.kiBDre {
  color: #ffffff;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  width: 40px;
}

.kiBDre:hover,
.kiBDre:focus {
  background: rgba(255, 255, 255, 0.08);
}
/* sc-component-id: Items__Container-sc-1y2x9z6-0 */
.bsFZqp {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .bsFZqp {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .bsFZqp {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* sc-component-id: Item__Container-sc-1niifws-5 */
.iDMFWO {
  border-top: 1px solid #4f4f4f;
  width: 100%;
}

.iDMFWO:first-child {
  border-top: 0;
}

@media (min-width: 768px) {
  .iDMFWO {
    border-top: 0;
  }
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Items__Container-sc-1y2x9z6-0 */
.bsFZqp {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .bsFZqp {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .bsFZqp {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* sc-component-id: Item__Header-sc-1niifws-2 */
.hMqMLK {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%;
}

@media (min-width: 768px) {
  .hMqMLK {
    padding-bottom: 0;
    padding-top: 24px;
  }
}

.hMqMLK .Item__Heading-sc-1niifws-0 a {
  color: #ffffff;
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Item__Heading-sc-1niifws-0 */
.inwzbv {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.hMqMLK .Item__Heading-sc-1niifws-0 a {
  color: #ffffff;
}

/* sc-component-id: Item__MenuIcon-sc-1niifws-6 */
.gMexcd {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.86);
}

.gMexcd:hover,
.gMexcd:focus {
  cursor: pointer;
}

@media (min-width: 768px) {
  .gMexcd {
    display: none;
  }
}
/* sc-component-id: Item__ChildItemsBox-sc-1niifws-3 */
.jpwFxr {
  display: block;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media (min-width: 768px) {
  .jpwFxr {
    max-height: 600px;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .jpwFxr {
    height: 0;
    opacity: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Item__ChildItem-sc-1niifws-4 */
.sguIi {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .sguIi {
    margin-top: 4px;
  }

  .sguIi:first-child {
    margin-top: 8px;
  }
}
/* sc-component-id: Item__Text-sc-1niifws-1 */
.gXmSSX {
  color: rgba(255, 255, 255, 0.86);
  font-size: 16px;
}

/* sc-component-id: Partners__Container-sc-26wlpc-0 */
.dcuIuw {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .dcuIuw {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .dcuIuw {
    grid-template-columns: repeat(6, 1fr);
  }
}
/* sc-component-id: Bottom__Navigation-sc-10vzyfk-0 */
.dORwCJ {
  border-top: 1px solid #424242;
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  text-align: center;
}

@media (min-width: 1024px) {
  .dORwCJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* sc-component-id: Bottom__List-sc-10vzyfk-1 */
.iGUEyc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .iGUEyc {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
/* sc-component-id: Bottom__Text-sc-10vzyfk-3 */
.bvxZkn {
  color: rgba(255, 255, 255, 0.86);
  font-size: 16px;
}
/* sc-component-id: Bottom__Link-sc-10vzyfk-2 */
.hTbcGK {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  margin: 0 16px 8px;
}

@media (min-width: 1024px) {
  .hTbcGK {
    margin: 0 24px 8px 0;
  }
}
/* sc-component-id: Bottom__NineCopyright-sc-10vzyfk-4 */
.eupdEx {
  margin-top: 0;
  color: #8c8c8c;
  font-size: 16px;
}
 

/* sc-component-id: Footer__Wrapper-sc-1uuqnsm-0 */
.dbIOcL {
  background: #141414;
  margin-top: 24px;
}

@media (min-width: 1024px) {
  .dbIOcL {
    position: relative;
    z-index: 1020;
  }
}

/* sc-component-id: Footer__Container-sc-1uuqnsm-1 */
.jLmOIv {
  margin: 0 auto;
  padding: 24px 16px;
}

.jLmOIv a {
  color: rgba(255, 255, 255, 0.75);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.jLmOIv a:hover,
.jLmOIv a:focus {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .jLmOIv {
    padding: 24px;
  }
}

@media (min-width: 1124px) {
  .jLmOIv {
    max-width: 1600px;
  }
}

/* sc-component-id: Top__Container-p0dwa6-0 */
.lmGlVl {
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .lmGlVl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* sc-component-id: Top__StyledLogo-p0dwa6-2 */
.bNLBND {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bNLBND svg {
  height: 24px;
  width: auto;
}

@media (min-width: 768px) {
  .bNLBND svg {
    height: 32px;
  }
}

.bNLBND svg {
  height: 20px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .bNLBND {
    margin-left: 0;
  }
}
/* sc-component-id: LogoWrapper-sc-7ieug6-0 */
.eOjwyH {
  display: block;
  z-index: 101;
}

.eOjwyH svg {
  height: 20px;
}
/* sc-component-id: Top__Links-p0dwa6-3 */
.grXvYS {
  display: block;
}

@media (min-width: 768px) {
  .grXvYS {
    margin-top: 24px;
  }
}

@media (min-width: 1024px) {
  .grXvYS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 0;
  }
}
/* sc-component-id: Top__Block-p0dwa6-4 */
.czwYxT {
  display: block;
}

@media (min-width: 768px) {
  .czwYxT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
/* sc-component-id: Top__Group-p0dwa6-5 */
.ctaSet {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .ctaSet {
    margin: 0ßpx;
  }
}

@media (min-width: 768px) {
  .ctaSet {
    margin: 0 0 0 0px;
  }
}

@media (min-width: 1024px) {
  .ctaSet {
    margin-top: 0;
  }
}

.ctaSet li {
  list-style: none;
}

.ctaSet li + li {
  margin-left: 32px;
}

.ctaSet svg {
  vertical-align: middle;
  width: 20px;
}

.bqKPYF {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0;
  padding-left: 0;
  margin-left: 24px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0ßpx;
  }
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0 0 0 32px;
  }
}

@media (min-width: 768px) {
  .bqKPYF {
    margin: 0 0 0 32px;
  }
}

@media (min-width: 1024px) {
  .bqKPYF {
    margin-top: 0;
  }
}

.bqKPYF li {
  list-style: none;
}

.bqKPYF li + li {
  margin-left: 32px;
}

.bqKPYF svg {
  vertical-align: middle;
  width: 20px;
}
/* sc-component-id: Top__SocialLink-p0dwa6-6 */
.kiBDre {
  color: #ffffff;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  width: 40px;
}

.kiBDre:hover,
.kiBDre:focus {
  background: rgba(255, 255, 255, 0.08);
}
/* sc-component-id: Items__Container-sc-1y2x9z6-0 */
.bsFZqp {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .bsFZqp {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .bsFZqp {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* sc-component-id: Item__Container-sc-1niifws-5 */
.iDMFWO {
  border-top: 1px solid #4f4f4f;
  width: 100%;
}

.iDMFWO:first-child {
  border-top: 0;
}

@media (min-width: 768px) {
  .iDMFWO {
    border-top: 0;
  }
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Items__Container-sc-1y2x9z6-0 */
.bsFZqp {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .bsFZqp {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .bsFZqp {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* sc-component-id: Item__Header-sc-1niifws-2 */
.hMqMLK {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%;
}

@media (min-width: 768px) {
  .hMqMLK {
    padding-bottom: 0;
    padding-top: 24px;
  }
}

.hMqMLK .Item__Heading-sc-1niifws-0 a {
  color: #ffffff;
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Item__Heading-sc-1niifws-0 */
.inwzbv {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.hMqMLK .Item__Heading-sc-1niifws-0 a {
  color: #ffffff;
}

/* sc-component-id: Item__MenuIcon-sc-1niifws-6 */
.gMexcd {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.86);
}

.gMexcd:hover,
.gMexcd:focus {
  cursor: pointer;
}

@media (min-width: 768px) {
  .gMexcd {
    display: none;
  }
}
/* sc-component-id: Item__ChildItemsBox-sc-1niifws-3 */
.jpwFxr {
  display: block;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media (min-width: 768px) {
  .jpwFxr {
    max-height: 600px;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .jpwFxr {
    height: 0;
    opacity: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
}

/* sc-component-id: Item__HiddenCheckbox-sc-1niifws-7 */
.cInpBX {
  display: none;
}

@media (max-width: 768px) {
  .cInpBX:checked ~ .Item__ChildItemsBox-sc-1niifws-3 {
    height: auto;
    opacity: 1;
    padding-bottom: 12px;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 {
  padding-bottom: 0;
}

.cInpBX:checked ~ .Item__Header-sc-1niifws-2 svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* sc-component-id: Item__ChildItem-sc-1niifws-4 */
.sguIi {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .sguIi {
    margin-top: 4px;
  }

  .sguIi:first-child {
    margin-top: 8px;
  }
}
/* sc-component-id: Item__Text-sc-1niifws-1 */
.gXmSSX {
  color: rgba(255, 255, 255, 0.86);
  font-size: 16px;
}

/* sc-component-id: Partners__Container-sc-26wlpc-0 */
.dcuIuw {
  border-top: 1px solid #4f4f4f;
}

@media (min-width: 768px) {
  .dcuIuw {
    display: grid;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .dcuIuw {
    grid-template-columns: repeat(6, 1fr);
  }
}
/* sc-component-id: Bottom__Navigation-sc-10vzyfk-0 */
.dORwCJ {
  border-top: 1px solid #424242;
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  text-align: center;
}

@media (min-width: 1024px) {
  .dORwCJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* sc-component-id: Bottom__List-sc-10vzyfk-1 */
.iGUEyc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .iGUEyc {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
/* sc-component-id: Bottom__Text-sc-10vzyfk-3 */
.bvxZkn {
  color: rgba(255, 255, 255, 0.86);
  font-size: 16px;
}
/* sc-component-id: Bottom__Link-sc-10vzyfk-2 */
.hTbcGK {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  margin: 0 16px 8px;
}

@media (min-width: 1024px) {
  .hTbcGK {
    margin: 0 24px 8px 0;
  }
}
/* sc-component-id: Bottom__NineCopyright-sc-10vzyfk-4 */
.eupdEx {
  margin-top: 0;
  color: #8c8c8c;
  font-size: 16px;
}
 